@font-face {
    font-family: 'Arsenal-Regular';
    font-display: swap;
    src: url('../fonts/Arsenal-Regular.woff') format('woff'), url('../fonts/Arsenal-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Arina';
    font-display: swap;
    src: url('../fonts/Arina.woff') format('woff'), url('../fonts/Arina.woff2') format('woff2');
}




