.preview{
    height: 480px;
    &__bg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.promo{
    margin-top: -90px;
    @include sm{
        margin-top: -68px;
    }
    @include xxs{
        margin-top: -40px;
    }
    @include mini{
        margin-top: -34px;
    }
    &__wrap{
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
        @include sm {
            flex-direction: column;
            max-width: 444px;
            margin-left: auto;
        }
        @include xxs {
            max-width: 100%;
        
        }
    }
    &__info{
        flex: 0 0 380px;
        margin-right: 30px;
        @include sm {
            margin-right: 0;
            margin-bottom: 100px;
        }
        @include xxs {
            margin-bottom: 70px;
        }
    }
    &__img{
        flex: 0 1 482px;
    }
    img{
        height: 100%;
        object-fit: cover;
        @include sm {
            flex: 0 1 auto;
            height: 576px;
            
        }
        @include xxs {
        height: 360px;
        }
    }
}
.features{
    &__wrap{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 100px;
        gap: 132px;
        @include md {
            gap:104px;
        }
        @include sm{
            padding-left: 70px;
            padding-right: 100px;
            grid-template-columns: 1fr;
            gap: 100px;
        }
        @include xxs{
            padding-right: 90px;
            padding-left: 90px;
            gap: 70px;
        }
        @include mini{
            padding-right: 40px;
            padding-left: 40px;
        }
        
    }
    &__item {
        &_reverse {
            padding-top: 60px;
            @include sm{
                margin-left: auto;
                padding-top: 0;
            }
            @include xxs{
                flex-direction: column;
            }
            
        }
        @include sm{
            width: 400px;
        }  
        @include xs{
        width: 278px;
    }
        @include xxs{
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }
        @include mini{
            width: 210px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__name{
        position: relative;
        margin-left: -100px;
        margin-top: -40px;
        max-width: 278px;
        font-family: $arina, serif;
        font-size: 70px;
        line-height: 100%;
        text-align: center;   
        @include sm{
            margin-left: -70px;
        }
        @include xxs{
            margin-left: 0;
            margin-top: 0;
            margin-bottom: -23px;
            font-size: 44px;
        }
        @include mini{
            margin-bottom: -16px;
            font-size: 32px;
        }
    &_bottom{
        margin-top: 0;
        margin-bottom: -37px;
        @include xxs{
            margin-bottom: -23px;
        }
        @include mini{
            margin-bottom: -16px;
        }
    }
    }

    &__img{
        width: 100%;
        object-fit: cover;
        min-height: 418px;
        @include xxs{
            width: 100%;
            img{
                min-height: 318px;
            }
        }
    }
}

.tradition{
    padding-bottom: 342px;
    background: $main-color;
    @include sm {
        padding-bottom: 614px;
    }
    @include xxs{
        padding-bottom: 140px;
    }
    &__wrap{
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
        @include sm{
            position: relative;
            flex-direction: column;
        }
    }
    &__left{
        margin-right: 132px;
        position: relative;
        display: flex;
        flex-direction: column;
        padding-left: calc((100% - 1200px)/2);
        @include md{
            padding-left: 20px;
            margin-right: 70px;
            
        }
        @include sm {
            position: initial;
            width: 100%;
            padding-right: 20px;

        }
        @include xxs{
            padding-left: 15px;
            padding-right: 15px;
            
        }
    }
    &__left-content{
        width: 688px;
        @include md {
            width: 628px;
        }
        @include sm {
            width: 100%;
        }
    }
    &__info{
        @include sm{
            margin-bottom: 100px;
        }
        @include xxs{
            margin-bottom: 70px;

        }
    }
    &__right{
        @media(min-width: 1920px){
            margin-right: calc((100% - 1900px)/2);
            @include sm{
                margin-left: auto;
                width: 464px;
                img {
                width: 100%;
            }
            }
        }
        @include xxs{
            margin-right: auto;
            margin-left: auto;
            width: calc(100% - 30px)
                    }
    }
    &__text{
        margin-left: auto;
    }
    &__bottom{
        @media(min-width: 1920px){
            width: 80%;
            height: 640px;
        }
        position: absolute;
        width: 100%;
        height: 540px;
        right: 0;
        bottom: -120px;
        transform: translateY(100%);
        img{
            @include xxs{
                display: none;
            }
        }
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover; 
        @include sm{
            height: 514px;
        }
    }
}

.country{
    @media(min-width: 1920px){
        padding-top: 610px;
    }
    padding-top: 510px;
    @include sm{
        padding-top: 200px;
    }
&__wrap{
        display: flex;
        @include sm{
            flex-direction: column;
        }
    }
&__left{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    flex: 0 0 688px;
    @include md {
        flex: 0 0 628px;
    }
    @include sm {
        flex: 0 1 auto;
        margin-right: 0;
        margin-top: 100px;
    }
    @include xxs{
        margin-bottom: 70px;
    }
&__title{
    position: relative;
}
&__img{
    margin-top: -200px;
    margin-left: auto;
    width: 55%;
    img{
            width: 100%;
        }
    @include sm{
        margin-top: -19%;
        width: 74%;
        margin-right: auto;
        }
    @include xxs{
        width: 100%;
    }
}
&__right{
    padding-top: 360px;
    align-self: flex-end;
}
}
.story {
    background: $main-color; 
}
.swiper-slide{
    height: auto;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
}
